.navbar{
    background-color: black;
}
.navbar-brand{
    color:white;
    
  }
  .nav-link {
    color: rgb(243, 239, 239);
  }
  .container-fluid{ 
  height: 100vh;
  background-size: cover;
  border: 3px solid red;

    background-image:url('yts1.jpg');
}
 .featurette-heading{
    height: 100vh;
    background-size: cover;
    border: 3px solid red;
  
      background-image:url('yts15.jpg');

 }