
.navbar-brand{
  color:white;
  
}
.nav-link {
  color: white;
}


.carousel-caption{
  
color:black;

text-align:center;

}



.container-fluid
{
 
 
    background-color:black;
background-image: url(buy2.jpg);
}  
   
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  
  .row {margin: 0 -5px;}
    
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .card {
      background-color:blue;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
   


    
  }
  .card-header{
    background-color:maroon;
    color:white;
    font-size:larger;
  }
.card-text{
  font-size:medium;
  color:white;
  /* line-height: 28px;
  height: 90px; */
  /* overflow: hidden; */
}
 
 
 .navbar{
   background-color: black;
 
  






 }
 .card:hover{
   transform: translateY(20px);


 }

 /* .btn{
   color:crimson;

 }
 .read-more-text{
   display:inline; 
 } */

 .more{
   position:relative;
   padding:10px 15px;
   background:fuchsia ;
   margin-top: 15px;
   display:inline-block;
 }














 