
.navbar-brand{
  color:white;
  
}
.nav-link {
  color: white;
}


.carousel-caption{
  
color:black;

text-align:center;

}



.container-fluid
{
 
 
    background-color:#000;

}  
   
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  
  .row {margin: 0 -5px;}
    
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .card {
      background-color:gray;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
   


    
  }
  .card-header{
    background-color:black;
    color:white;
    font-size:larger;
  }
.card-text{
  font-size:medium;
  color:white;
  /* line-height: 28px;
  height: 90px; */
  /* overflow: hidden; */
}
 
 
 .navbar{
   background-color: black;
 
  






 }
 .card:hover{
   transform: translateY(20px);


 }

 /* .btn{
   color:crimson;

 }
 .read-more-text{
   display:inline; 
 } */

 .more{
   color: black;
   position:relative;
   padding:10px 15px;
   background:fuchsia ;
   margin-top: 15px;
   display:inline-block;
 }


 .mybtn{

  color:blue;

 }



 .images{
   background-color: yellow;
 }


 .about-carousel-item {
  width: 100%;
  background:#000;
}

.featured-item-row{
  background:rgb(236, 232, 25);
}


.button-default{
  color:brown ;
  background
  
  : #000;
}










.volunteers-area.padding-large {
 background: #000; 
  padding-bottom: 100px;
  padding-top: 180px;
}

.volunteers-area {
  padding-bottom: 100px;
  padding-top: 100px;
}
.section-gray {
  background: #EDEDED;
}








.overlay-effect a {
    display: block;
    position: relative;
}
a:active, a:hover, a:focus {
    outline: 0 none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:hover {
    color: #0a58ca;
}
a {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #666;
}




.single-volunteer-item {
  border: 5px solid #555;
}











 .about-text-container
 {
   color: #EDEDED;
 }



 .volunteer-text
 {
   color: #EDEDED;
 }

 